body{
    background-image:linear-gradient(to right,#0056d6,#0091e3,#6bc800,#9ddabc,#f1f6e5);

}
#wholepage{
    border: 3px solid white;
    background-color: white;
    width: 500px;
    height: 60px auto;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
 }
h1{
    font-size:22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(182, 61, 61);
}
p{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#basic{
    background-color: gray;
    color: white;
    border: 8px solid gray;
}
.regisnow{
    display: flex;
    gap:30px
}
#contanier{
    display:flex;
    gap:15px;
    flex-direction:row;
    width:100%;
    margin-bottom: 20px;
}
.form1{
    flex: 1px;
    display: flex;
    flex-direction:column;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    color: #a09e9e;
    border: 1px solid #ccc;
    background-color: rgb(27, 23, 3);
    border-radius: 4px;
    font-size: 13px;
    box-sizing: border-box;
}
.secondform{
    flex: 1px;
    display: flex;
    flex-direction:column;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    color: #a09e9e;
    border: 1px solid #ccc;
    background-color: rgb(27, 23, 3);
    border-radius: 4px;
    font-size: 13px;
    box-sizing: border-box;  
}

/* #sform:hover{
    background-color: red; 
    color: white; 
    width:100px; 
    height: 30px; 
    border-radius: 10px; 
    margin: 10px auto;
} */